<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= 'logged-in' if user_signed_in?%> ">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "CookPal_logo.png", class: 'nav-img' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Registration", new_user_registration_path, class: "nav-link" %>
        <%= link_to "Sign in", new_user_session_path, class: "nav-link nav-signin" %>
      </li>
      <% if !current_user.nil? && current_user.homecooks.length == 0 && controller_name != 'reservations' %>
        <li class="nav-item">
          <%= link_to "Become homecook", reservations_path, class: "nav-link become-homecook" %>
        </li>
      <% end %>
      <li class= "nav-item dropdown-icon">
        <% if current_user.nil? %>
        <%else%>
        Hi, <%= current_user.name %><%= image_tag "https://kitt.lewagon.com/placeholder/users/yuriette16", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if current_user.homecooks.length > 0 %>
            <%= link_to "My page", reservations_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      <% end %>
      </li>
  </ul>
  </div>
</div>
