<div class="customer-tab" id="cutomer-anchor">
  <div class="homecook-tab new-homecook <%# 'hidden' if current_user.reservations.length < 0 %>">
    <% if current_user.reservations.length == 0 %>
      <p>You did not book anything yet..</p>
    <% end %>

    <% if current_user.reservations.length > 0 %>
      <% current_user.reservations.each do |reservation| %>
        <div class="card-booking">
          <div class="card-booking-container">
            <div class="card-booking-personal-info-left">
              <div class ="medium-font"><b><%= reservation.user.name %></b></div>
              <div><i class="fas fa-envelope"></i>&thinsp;<%= reservation.user.email %>&emsp;<i class="fas fa-phone"></i>&thinsp;<span><%= reservation.user.phone %></span></div>
            </div>
            <div class="card-booking-personal-info-right">
              <div>Reservation Date: <%= reservation.datetime.strftime("%Y-%m-%d %H:%M") %></div>
              <div><i class="fas fa-map-pin"></i>&thinsp;<%= reservation.user.address %>&emsp;<span>Size:<%= reservation.capacity %>&thinsp;<i class="fas fa-user"></i></span></div>
            </div>
          </div>
          <div class="card-booking-description"><%= reservation.description %></div>
          <div class="card-booking-buttons" data-reservation="<%= reservation.id %>">
            <% if reservation.status == "pending" %>
              <button class="reject btn-updated-rejected disabled">Pending request</button>
            <% elsif reservation.status == "accept" %>
              <button class="accept btn-updated-accepted disabled">Accepted</button>
            <% elsif reservation.status == "reject" %>
              <button class="reject btn-updated-rejected disabled">Rejected</button>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
