<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit your homecook profile</h5>
        <%= link_to "Delete" %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <% if @homecooks.any? %>
          <%= simple_form_for @homecooks[0]  do |r|%>
            <%= r.input :price_per_person %>
            <%= r.input :introduction %>
            <%= r.input :tag_list, as: :check_boxes, collection: Homecook::CUISINES, label: 'Types of Cuisines' %>
            <%= r.input :photos, as: :file, input_html: { multiple: true }  %>
            <%= r.submit %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>
