<div class="homecook-tab booked <%= 'hidden' if homecook_reservations.length == 0  %> ">
  <% if current_user.homecooks.any? %>
    <div class="edit-homeccok-profile">
      <div class="btn-update-homecook">
        <a class="btn btn-homecook" data-toggle="modal" data-target="#exampleModal" style="text-align: center"><i class="fas fa-edit"></i>Edit your homecook profile</a>
      </div>
    </div>
  <% end %>

  <% homecook_reservations.each do |reservation| %>
    <div class="card-booking">
      <div class="card-booking-container">
        <div class="card-booking-personal-info-left">
          <div class ="medium-font"><b><%= reservation.user.name %></b></div>
          <div><i class="fas fa-envelope"></i>&thinsp;<%= reservation.user.email %>&emsp;<i class="fas fa-phone"></i>&thinsp;<span><%= reservation.user.phone %></span></div>
        </div>
        <div class="card-booking-personal-info-right">
          <div>Reservation Date: <%= reservation.datetime.to_s.split(" ").first %></div>
          <div><i class="fas fa-map-pin"></i>&thinsp;<%= reservation.user.address %>&emsp;<span>Size:<%= reservation.capacity %>&thinsp;<i class="fas fa-user"></i></span></div>
        </div>
      </div>
      <div class="card-booking-description"><%= reservation.description %></div>
      <div class="card-booking-buttons" data-reservation="<%= reservation.id %>">
        <% if reservation.status == "pending" %>
          <button class="accept">Accept</button>
          <button class="reject">Reject</button>
        <% elsif reservation.status == "accept" %>
          <button class="accept btn-updated-accepted disabled">Accepted</button>
        <% elsif reservation.status == "reject" %>
          <button class="reject btn-updated-rejected disabled">Rejected</button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="homecook-tab new-homecook <%= 'hidden' if homecook_reservations.length > 0 || current_user.homecooks.length == 0 %>">
  <p>You have no reservations yet...</p>
</div>

<div class="homecook-tab non-booked <%= 'hidden' if current_user.homecooks.length > 0 %>">
  <% if current_user.homecooks.empty? %>
    <div class="homecook-buttons">
      <div class="btn-update-homecook">
        <button class="btn btn-homecook" data-toggle="modal" data-target="#exampleModal" style="text-align: center">Become homecook</button>
      </div>
    </div>
  <% end %>
</div>
