<div class="container">
  <div class="frame-btn">
    <button class="btn-reservations <%= 'disabled' if current_user.homecooks.empty? %><%= 'active' if !current_user.homecooks.empty?  %>"  id="homecook-btn">Homecook</button>
    <button class="btn-reservations <%= 'active' if current_user.homecooks.empty? %>" id="customer-btn">Customer</button>
  </div>

  <div class="reservations-tabs">
    <% homecook_reservations = [] %>
    <% current_user.homecooks.each do |homecook| %>
      <% homecook.reservations.each do |reservation| %>
        <% homecook_reservations << reservation %>
      <% end %>
    <% end %>

  <div class="homecook-tab-wrapper <%= 'hidden' if current_user.homecooks.length == 0 %>">
    <%= render partial: "homecook_tab", :locals => {:homecook_reservations => homecook_reservations} %>
  </div>
  <div class="customer-tab-wrapper <%= 'hidden' if current_user.homecooks.length !=0 %>">
    <%= render partial: "customer_tab" %>
  </div>

  </div>
</div>

<%= render "create_homecook" %>
