<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make your reservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@homecook, @reservation], url: homecook_reservations_path(@homecook), method: :post  do |r|%>
          Reservation Name:
          <p><%= current_user.name %></p>
          Email:
          <p><%= current_user.email %></p>
          Phone Number:
          <p><%= current_user.phone %></p>
          <%= r.input :datetime, label: "Reservation Date & Time"%>
          <%= r.input :address, label: "Place to cook", input_html: { value: current_user.address } %>
          <%= r.input :capacity, input_html: {value: r.object.capacity || '1'} , label: "Number of people"%>
          <%= r.input :description, label: "Let me know what you need", placeholder:"Please tell me about your kitchen size and any special request that you want."%>
          <%= r.submit 'Reserve', class: 'yellow-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
