<div class="banner-narrow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?cooking&<%= rand(10000) %>)">
  <div class="container">
    <h1>Find Your Home Cook</h1>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-bar">
        <input class="search-field" type="text" name="search[query]" id="search_query" placeholder="Type address" />
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle add-time" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Add time
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Brunch</a>
    <a class="dropdown-item" href="#">Lunch</a>
    <a class="dropdown-item" href="#">Dinner</a>
  </div>
</div>
        <button name="button" type="submit" class="btn btn-homecook-small">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<div class = 'container'>
    <i class="fas fa-random"></i> Sort by
    <select id="sort-price" onChange="myfunc(this.value)">
      <option value="">Price</option>
      <option value="ASC">Low to High</option>
      <option value="DESC">High to Low</option>
    </select>
  <div class="cards">
  <% @homecooks.each do |homecook| %>
   <div class="card-category">
    <% if homecook.photos.attached? %>
    <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path homecook.photos.first.key %>')"></div>
    <% else %>
    <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?meals&<%= rand(10000) %>)"></div>
    <% end %>
    <div class="card-details">
      <div><strong><%= homecook.user.name %></strong></div>
      <div><%= rand(40..50)/10.0 %><i class="fas fa-star"></i></div>
    </div>
    <div class="card-details">
      <div>
      <%= homecook.tag_list %>
      </div>
    </div>
    <div><%= homecook.price_per_person %>yen/person</div>
  </div>
  <% end %>
  </div>
  <script type="text/javascript">
    function myfunc(value) {
      window.location.replace('/?option=' + value);
    }
  </script>
</div>
</div>

