

<div class="header">
<h1 class = "title-large-black"><%= @homecook.user.name  %></h1>
<% if user_signed_in? %>
  <div class="btn-update-homecook">
   <a class="btn btn-homecook btn-homecook-fixed" data-toggle="modal" data-target="#exampleModal" style="text-align: center">Reserve this homecook</a>
  </div>
  <%= render "reserve_homecook" %>
<%else %>
  <div class="btn-update-homecook">
    <%= link_to "Sign up/Sign in before making a reservation", new_user_registration_path, class:"btn btn-homecook",  style:"text-align: center"%>
  </div>
<% end %>
</div>

<div class = "title-middle" ><%= rand(40..50)/10.0 %><i class="fas fa-star big-star"></i>&emsp;<span><%= @homecook.tag_list %></span></div>

  <div class= "image-block">
    <% if @homecook.photos.attached? %>

    <% @homecook.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height:200, width:265, crop: :fill, :class => "style_image" %>
    <% end %>
    <% else %>
    <img src="https://source.unsplash.com/featured/?meals&<%= rand(10000) %>" alt="" width="picture" height="300", width="400" border="0" />
  <% end %>

</div>


  <div class = "title-middle-bold"> About Me </div>
  <div class = "text-medium"> <%= @homecook.introduction %> </div>

  <div class = "title-middle-bold"> Date which is booked </div>
  <div class = "text-medium"> <% @homecook.reservations.each do |reservation| %>
    <p><%= reservation.datetime.strftime("%Y-%m-%d %H:%M") %></p>
  <% end %>
</div>











